@import "tailwindcss";

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./assets/fonts/Manrope/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Bowler";
  src: url("./assets/fonts/BOWLER/Bowler.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-grey-background: #eeeeee;
  --color-accent: #9c0105;
  --color-accent-light: #bf3639;
  --color-footer: #5a5a64;
  --font-manrope: "Manrope";
  --font-bowler: "Bowler";
  --color-dark-blue: #16246d;
  --color-dark-bg: #0a0e28;
  --color-dark-filter: rgba(0, 0, 0, 0.7);
  --page: 852px;
}
